<header role="banner">
    <div id="banner" title="{{ site.title }}">

    </div>
</header>
<ul class="pagination menu-header">
      <!-- Last page -->
      <li class="pagination-item">
          <a class="pagination-link pagination-link--non-numeric" href="{{site.url}}"> <i class="fa fa-home" aria-hidden="true"></i> Home </a>
      </li>
      <!-- Next page -->
      <li class="pagination-item">
          <a class="pagination-link pagination-link--non-numeric" href="{{site.url}}/projects"> <i class="fa fa-building" aria-hidden="true"></i> Projetos </a>
      </li>
      <!-- Next page -->
      <li class="pagination-item">
          <a class="pagination-link pagination-link--non-numeric" href="{{site.url}}/misc/2015/11/15/introducao"> <i class="fa fa-paper-plane" aria-hidden="true"></i> Sobre </a>
      </li>

      <!-- Next page -->
      <li class="pagination-item">
          <a class="pagination-link pagination-link--non-numeric" href="https://github.com/josenberg"> <i class="fa fa-github" aria-hidden="true"></i> GitHub </a>
      </li>
  </ul>
