<header role="banner">
    <div id="banner" title="{{ site.title }}">

    </div>
</header>
<ul class="pagination menu-header">
      <!-- Last page -->
      <li class="pagination-item">
          <a class="pagination-link pagination-link--non-numeric" href="{{site.url}}"> Home </a>
      </li>
      <!-- Next page -->
      <li class="pagination-item">
          <a class="pagination-link pagination-link--non-numeric" href="{{site.url}}/projects"> Projetos </a>
      </li>
      <!-- Next page -->
      <li class="pagination-item">
          <a class="pagination-link pagination-link--non-numeric" href="{{site.url}}/misc/2015/11/15/introducao"> Sobre </a>
      </li>

      <!-- Next page -->
      <li class="pagination-item">
          <a class="pagination-link pagination-link--non-numeric" href="{{site.url}}/blog"> Artigos </a>
      </li>

      <li class="pagination-item">
          <a class="pagination-link pagination-link--non-numeric" href="https://github.com/josenberg"> GitHub </a>
      </li>
 
  </ul>
