<!doctype html>
<html>
    {% include head.html %}
    <body>
      <header>
          <div class="container">
              <div class="intro">
                  <p class="intro__main">Estamos em construção.</p>
              </div>
            </div>

        </header>
        <div class="container">
          <dl>
              <dt>
                  <p class="title">Entre em contato pelo email.</p>
                  <p class="company">mbx.philipe@gmail.com</p>
              </dt>

          </dl>
      </div>
    </body>
</html>
