<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="{% unless site.typekit_kit_id %}wf-inactive{% endunless %}">
        {% include header.html %}
        <section role="main">
            {{ content }}
        </section>
        {% include footer.html %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/js/galileo.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/js/trianglify.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
    </body>
</html>
